<launch>
  <arg
    name="dobot" />
  <arg
    name="gui"
    default="True" />
  <param
    name="robot_description"
    textfile="$(find dobot)/urdf/dobot.urdf" />
  <param
    name="use_gui"
    value="$(arg gui)" />

  <node
    name="dobot_state_publisher"
    pkg="dobot"
    type="dobot_state_publisher" />

  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="state_publisher" />

  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find dobot)/config/dobot.rviz"/>
</launch>
